@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/*font-family: 'Montserrat', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

/* font-family: 'Fraunces', serif;
 */

:root {
  --darkcyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --verydarkblue: hsl(212, 21%, 14%);
  --darkgrayishblue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}


html,
body {
  height: 100%;
  margin: 0;
  background-color: var(--cream);
}

h1 {
  font-family: 'Fraunces', serif;
  font-weight: bold;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media (max-width: 850px) {
  .only-desktop {
    display: none;
  }
  .only-mobile {
    max-width: 375px;
    width: 100%;
  }
  .card {
    flex-direction: column;
    max-width: 375px;
  }
  
  .rounded-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}

@media (min-width: 850px) {
  .only-mobile {
    display: none;
    width: 100vw;
  }

  .only-desktop {
    height: 50vh;
  }

  .card {
    flex-direction: row;
    height: 50vh;
    max-width: 630px;
  }

  .rounded-top {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .body-card{
    justify-content: space-around;
    padding: 2rem;
  }
}

.card {
  background-color: var(--white);
  display: flex;
  border-radius: 0.5rem;
  margin: 1rem;
}



.bg-green {
  background-color: var(--darkcyan);
}

.rounded {
  border-radius: 0.5rem;
}

.text-white {
  color: var(--white);
}

.text-green {
  color: var(--darkcyan);
}

.text-darkgrayishblue {
  color: var(--darkgrayishblue);
}

.prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.fs-10 {
  font-size: 2rem;
}

.fs-3 {
  font-size: 0.7rem;
}

.text-spaced {
  letter-spacing: 0.2rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.without-border {
  border-style: none;
}

.mt-0 {
  margin-top: 0rem;
}

.ml-1 {
  margin-left: 1rem;
}

.pd-1 {
  padding: 1rem;
}

h3 {
  font-family: 'Fraunces', serif;
  font-weight: 500;
}

.principal-prize{
  font-family: 'Fraunces', serif;
  font-weight: 500;
}

p, h6, del{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.mb-05{
  margin-bottom: 0.5rem;
}

.mb-0{
  margin-bottom: 0rem;
}

button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.text-align-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mr-05{
  margin-right: 0.2rem;
}

p{
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-06{
  margin-bottom: 0.6rem;
}
.mt-05{
  margin-top: 0.5rem;
}

.lh{
  line-height: 1em;
}